* {
  box-sizing: border-box;
}

.main-header {
  display: flex;
  height: 60px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.menu-top {
  display: none;
}

.logo-container {
  width: 100px;
  height: 60px;
  min-width: 100px;
  display: flex;
}

.logo {
  height: 60px;
  width: 100px;
  cursor: pointer;
}

.li-first-breakpoint {
  display: none;
}

.input-nav {
  height: 60px;
  padding: 0;
  margin: 0;
  border-style: none;
  width: 70%;
}

.in-loupe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-left: rgb(211, 203, 203) solid 1px;
  border-right: rgb(211, 203, 203) solid 1px;
  margin-right: 0;
}

.loupe {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-menu {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

@media (min-width:768px) {

.morelogo {
  width: 100px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.menu-top {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  white-space: nowrap;
}

.menu-top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 0;
}

.menu-top a {
  color: darkgray;
  font-size: 14px;
}

.menu-top a:hover {
  color: white;
}

.firstmenu {
  margin-left: 100px;
}

.secondmenu {
  margin-right: 10px;
}

.li-first-breakpoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

#news {
  color: white;
}

.li-first-breakpoint ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.li-first-breakpoint ul li {
  text-decoration: none;
}

.li-first-breakpoint a {
  color: lightgray;
}

.li-first-breakpoint a:hover {
  color: black;
}

#break1214 {
  display: none;
}

.input-nav {
  width: 50%;
}

.in-loupe {
  width: 120px;
  margin-right: 0;
}

.menu {
  display: none;
}

}

@media (min-width:1214px) {

.logo-container {
  display: none;
}

.firstmenu {
  margin-left: 0;
}

.li-first-breakpoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.li-first-breakpoint ul {
  margin: 0;
  padding: 0;
}

#break1214 {
  display: flex;
}

.input-nav {
  width: 50%;
}

.in-loupe {
  width: 50px;
  margin-right: 0;
}

.menu {
  display: none;
}

}

.main-container {
  width: 100%;
  height: auto;
  position: relative;
}

.bored {
  max-width: 100%;
  height: 170px;
  background-image: url(./img-bored-at-home.png);
  background-position: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.text-photo {
  margin-top: 10%;
  position: absolute;
  width: 100%;
  height: 100px;
}

.p1-photo {
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  margin-left: 10px;
  position: absolute;
  padding-top: 10px;
}

.p2-photo {
  color: white;
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  margin-left: 10px;
  position: absolute;
  padding-top: 25px;
}

.p3-photo {
  padding-top: 75px;
  color: white;
  font-size: 12px;
  font-weight: 900;
  margin: 0;
  margin-left: 10px;
  position: absolute;
  width: 95%;
}

.watch {
  max-width: 100%;
  height: 170px;
  background-image: url(./img-watch-all.png);
  background-position: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.how {
  max-width: 100%;
  height: 170px;
  background-image: url(./img-how-photoshop.png);
  background-position: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: red;
  margin-left: 10px;
}

.article-container {
  width: 100%;
  height: 100px;
  display: flex;
}

.article-div-img {
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.size-photos-articles {
  width: 90px;
  height: 80px;
}

.p4-photo-article {
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 25px;
}

.p4-photo-article a {
  color: black;
  font-weight: bolder;
}

.p5-photo-article {
  padding: 0;
  color: gray;
  font-size: 12px;
  font-weight: 900;
  margin: 0;
  position: absolute;
  width: 100%;
}

.p5-photo-article a {
  color: gray;
}

.more-info {
  width: 50%;
  height: auto;
}

.more-info ul {
  margin: 0;
  padding: 0;
}

.more-info li {
  list-style: none;
  margin: 0;
  padding: 0;
}
